<div class="content" fxLayout="row wrap">
        <mat-card class="forcast-title mat-elevation-z4"> 
            <h1>Forecast for {{city}}</h1>
        </mat-card>


        <div fxLayout="row wrap" fxLayoutGap="16px grid">

            <div fxFlex="25%" fxFlex.xs='100%' fxFlex.sm="33%" *ngFor='let temp of curForecast.daily'>
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>{{temp.dt}}</mat-card-title>
                    <mat-card-subtitle>{{temp.weather[0].main}}: {{temp.weather[0].description}}</mat-card-subtitle>

                </mat-card-header>
                    <img mat-card-image [src]="temp.weather[0].icon">
                <mat-card-content>


                    <table >
                        <tbody>
                            <tr><th>High: </th><td>{{temp.temp.max.toFixed()}}&#8457;</td></tr>
                            <tr><th>Low: </th><td>{{temp.temp.min.toFixed()}}&#8457;</td></tr>
                            <tr><th>Dew Point: </th><td>{{temp.dew_point.toFixed()}}&#8457;</td></tr>

                        </tbody>
                    </table>
                </mat-card-content>

            
            </mat-card>

            </div>
        </div>
</div>