<div mat-dialog-content class="content" [formGroup]="form">
    <div fxFlex="100%">


        <h2 mat-dialog-title>Details for Task {{data.id}}</h2>
        <mat-dialog-content>

            <!--
                Title input field.
            -->

            <mat-form-field class="input" appearance="fill">
                <mat-label>Task Title</mat-label>
                <input matInput #titleLength maxlength="20" placeholder="title" formControlName="title" required>
                <mat-hint align="end">{{titleLength.value?.length || 0}}/20</mat-hint>
            </mat-form-field>

            <!--
                Status drop down, check card status and show correct state
                when initialized.
            -->
            <mat-form-field class="select" appearance="fill">
                <mat-label>Task Status</mat-label>
                <!-- <mat-select  formControlName="completed" [(ngModel)]="selectedComplete"> -->
                <mat-select formControlName="completed">
                    <!-- <mat-option></mat-option> -->
                    <mat-option [value]="option.value" *ngFor="let option of completedList">{{ option.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!--
                Task details text input.  Need to prepopulate with actual task contents.
            -->

            <mat-form-field class="task-details" appearance="fill">
                <mat-label>Task Details</mat-label>
                <textarea matTextareaAutosize matAutosizeMinRows='5' matAutosizeMaxRows='20' matInput #input
                    maxlength="255" formControlName="description" required>[(data.description)]</textarea>
                <mat-hint align="end">{{input.value?.length || 0}}/255</mat-hint>
            </mat-form-field>

        </mat-dialog-content>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" class="delete" (click)="delete()">Delete</button>
     <button mat-raised-button color="primary" (click)="save()">Save</button>

    <button mat-button color="primary" (click)="close()">Cancel</button>

</div>