<!-- <mat-toolbar>
  <span>My Application</span>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <span> Weather Forecast </span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <!-- <mat-tab-group> -->
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
    </a>
  <!-- </mat-tab-group> -->
</nav>
<!-- <ng-container> -->


<mat-card>
  <router-outlet></router-outlet>
</mat-card>
<!-- </ng-container> -->