<div mat-dialog-content class="content" [formGroup]="form">
  <div fxFlex="100%">

    <h2 mat-dialog-title>Create Task</h2>
    <mat-dialog-content>

      <mat-form-field class="input" hintLabel="Max 20 characters" appearance="fill">
        <mat-label>Enter Your Title</mat-label>
        <input matInput #input maxlength="25" placeholder="Ex. Order food" id="taskTitle" required>
        <mat-hint align="end">{{input.value?.length || 0}}/25</mat-hint>
        <mat-error *ngIf="inputTitle.invalid">{{getErrorMessage(inputTitle)}}</mat-error>
      </mat-form-field>

      <mat-form-field class="select" appearance="fill">
        <mat-label>Task Status</mat-label>
        <!-- <mat-select  formControlName="completed" [(ngModel)]="selectedComplete"> -->
        <mat-select id="taskComplete" (selectionChange)="selected($event)">
            <!-- <mat-option></mat-option> -->
            <mat-option [value]="option.value" *ngFor="let option of completedList">{{ option.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>

      <br>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Task Description</mat-label>
        <textarea matInput id="taskDescription" required></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/255</mat-hint>
        <mat-error *ngIf="inputDescription.invalid">{{getErrorMessage(inputDescription)}}</mat-error>
      </mat-form-field>

    </mat-dialog-content>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="create()">Create Task</button>
  <button mat-button color="primary" (click)="close()">Cancel</button>
</div>