table {
    width: 100%;
  }

tr.mat-row {
  cursor: pointer;
  
}
tr.mat-row:hover{
  background-color: #cccccc;
}


  .container {
    justify-content: center;
    /* background-image: '../assets/paisley.jpg';
    background-repeat: repeat; */
  }

  input {
    margin: 5px;
  }
  th.mat-sort-header-sorted {
    color: black;
  }